/* media query */
/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .container {
        width: 100%;
    }

    .header .contactBar .inner {
        flex-wrap: wrap;
    }

    .header .contactBar .inner .leftSide,
    .header .contactBar .inner .rightSide {
        width: 100%;
    }

    .header .contactBar .inner .leftSide .companyAddress {
        flex-wrap: wrap;
    }
    .header .contactBar .inner .leftSide .companyAddress .item {
        width: 100%;
        justify-content: center;
        padding-right: 0;
     }
    .header .contactBar .inner .leftSide .companyAddress .item:not(:last-child) {
        margin-bottom: 8px;
    }
    .header .contactBar .inner .rightSide .socialMedia {
        justify-content: center;
    }
    .header .contactBar .inner .rightSide .socialMedia .item {
    margin: 15px 26px 0;
    }
    .header .contactBar .inner .rightSide .socialMedia .item .link i {
        font-size: 20px;
    }
    .header .CertifiedBar .inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header .CertifiedBar .inner .logo {
        margin-bottom: 20px;
    }
    .header .certified .rightSide {
        justify-content: center;
    }
    .header .certified .rightSide .item {
          margin-right: 0;
    }
    .header .certified .rightSide .item .btnDownload {
        margin-top: 30px;
        display: block;
    }
    .navbar {
        display: none;
    }

    .slideshow .wrapper {
          width: 100% ;
          height: 200px;
          background: transparent no-repeat center / cover;
    }

    .header .slideshow .inner .themeTarget,.themeTargett,.buttons {
          display: none;
    }

      /* homePart1 */
      .homePart1 .inner .welcome_msg{
        padding: 0 0 40px 0;
        flex-wrap: wrap;
    }

      .homePart1 .inner .welcome_msg .leftSide .tittle {
        text-align: center;
        font-size: 36px;
    }

      .homePart1 .inner .welcome_msg .leftSide{
        border-right: none;
    }

    .homePart1 .inner .article .bigCards .step1 {
        text-align: center;
        flex-wrap: wrap;
    }

    .homePart1 .inner .article .bigCards .cards .cardTittle .subTittle::after {
        right: 0;
        margin: 0 auto;
    }

    .homePart1 .inner .article .smallCards .cards .step1 {
        justify-content: center;
        flex-wrap: wrap; 
    }

    .homePart1 .inner .article .smallCards .cards .item1 {
        margin-top: 15px;
    }

    .homePart1 .inner .article .smallCards .cards .item1 .cardTittle .tittle{
        font-size: 19px;
    }

    /* home part 2 */
    .homePart2{
        padding: 10px;
    }

    .homePart2 .inner .projects {
        justify-content: center;
        flex-wrap: wrap;
    }

    .homePart2 .inner .projects .leftSide {
        margin: 40px;
    }

    .homePart2 .inner .projects .rightSide {
        display: none;
    }

    .homePart2 .inner .lastProjectPictures {
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 0 15px 0;
    }
    .homePart2 .inner .lastProjectPictures img {
        padding: 10px 0 10px 0;
    }

    /* home part 3 */
    .homePart3 .inner {
        padding: 40px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .homePart3 .inner .leftSide {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .homePart3 .inner .leftSide .content {
        padding: 10px 30px 40px;
    }

    /* home part 4 */
    .homePart4 {
        padding: 40px 0;
    }

    .homePart4 .inner .step1 {
        flex-wrap: wrap;
    }

    .homePart4 .inner .myTittle {
        padding: 0 0 70px 20px;
        flex-wrap: wrap;
    }

    .homePart4 .inner .myTittle .link {
        margin-top: 20px;
    }

    .homePart4 .inner .step1 .item1 {
        width: 100%;
        border-radius: 5px;    
    }

    .homePart4 .inner .step1 .item1:last-child {
        margin: 50px 0;
    }

    .homePart4 .inner .step1 .item1 .customersProfile .profile .name .tittle {
        font-size: 18px;
    }

    .homePart4 .inner .step1 .item1 .customersProfile .profile .name .subTittle {
        font-size: 15px;
        color: var(--iconColor);
    }

    .homePart4 .inner .step1 .item1 .customersProfile .rating {
        font-size: 8px;
    }

    /* home part 5 */
    .homePart5 .inner {
        padding: 50px 10px;
    }

    .homePart5 .inner .step1 {
        justify-content: center;
        flex-wrap: wrap;
    }

    .homePart5 .inner .step1 .item1 {
        margin: 0 0 30px 0;
    }

    /* home part 6 */
    .homePart6 .inner {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .homePart6 .inner .link {
        margin-top:20px ;
    }

    /* home part 7  */
    .homePart7 .inner {
        padding: 50px 15px ;
    }

    .homePart7 .slideShow2 .item{
        display: flex;
        justify-content: center;
    }

    /* footer part  */
    .footer .footerPart1 {
        margin:0 15px;
    }

    .footer .step1 {
        font-size: 11px;
        flex-wrap: wrap;
    }

    .footer .footerPart1 .step1 .item1 {
        padding: 10px;
    }

    .footer .footerPart1 .step1 .item1:not(:last-child) {
        border-right: none;
    }

    .footer .footerPart2 .step1 .item1 {
        width: 100%;
        padding: 0 10px;
    }

    .footer .footerPart2 .step1 .item1 .tittle {
        padding: 30px 0;
        font-size: 18px;
        color: #fff;
    }

}
   

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .hidden {
        display: none;
    }

    .header .contactBar .inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header .contactBar .inner .leftSide .companyAddress {
        flex-wrap: wrap;
    }

    .header .contactBar .inner .leftSide .companyAddress .item {
        width: 100%;
        justify-content: center;
    }

    .header .contactBar .inner .socialMedia {
        margin-top: 10px;
    }

    .socialMedia .item .link i {
        font-size: 15px;
    }

    /* certified */
    .header .CertifiedBar .inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header .CertifiedBar .inner .logo {
        margin-bottom: 20px;
    }
    .header .certified .rightSide {
        justify-content: center;
    }
    .header .certified .rightSide .item {
          margin-right: 0;
    }
    .header .certified .rightSide .item .btnDownload {
        margin-top: 30px;
        display: block;
    }


    /* navbar */
    .header .navbar .links .rightSide {
        display: none;
    }

    .header .navbar .links .step1 .link1 .tittle1 {
        font-size: 12px;
    }

    .header .navbar .links .step1 .item1 {
        padding: 28px 15px;
    }

    /* slider */
    .slideshow .inner .slide1 {
        padding-left: 40px;
    }

    .slideshow .inner .slide3 {
        padding-right: 40px;
    }

    .header .slideshow .inner .themeTarget .tittle{
        font-size: 30px; 
        font-weight: bold;
    }

    .header .slideshow .inner .themeTargett .tittle {
        font-size: 15px;
    }

    .header .slideshow .inner .buttons .btnLeft,.btnRight {
        font-size: 15px;
        padding: 12px 25px;  
    }

    /* homePart1 */
    .homePart1 .inner .welcome_msg {
        padding: 40px 20px;
        justify-content: center;
    }

    .homePart1 .inner .welcome_msg .leftSide{
        width:1500px;
    }

    /* homePart1  bigcards*/
    .homePart1 .inner .article .bigCards .step1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .homePart1 .inner .article .bigCards .step1  .item1 .card img {
        width: 100%;
    }

    /* homePart1 Smallcard*/

    .homePart1 .inner .article .smallCards .cards {
        padding: 0 50px;
    }

    .homePart1 .inner .article .smallCards .cards .step1 {
        flex-wrap: wrap;
    }

    .homePart1 .inner .article .smallCards .cards .step1 .item1 {
        width: 100%;
        margin-top: 50px;
    }

    /* homePart2 */
    .homePart2 .inner .projects,
    .homePart2 .inner .lastProjectPictures {
        flex-wrap: wrap;
    }

    .homePart2 .inner .projects .rightSide .step1 .item1 {
        margin: 0 5px 0 0;
    }

    .homePart2 .inner .projects .rightSide {
        margin-top: 40px;
    }

    .homePart2 .inner .projects {
        justify-content: center;
    }

    .homePart2 .inner .lastProjectPictures {
        justify-content: center;
    }

    .homePart2 .inner .lastProjectPictures img {
        width: 100%;
        margin: 30px;
    }
    
    /* .homePart3 */
    .homePart3 .inner {
        flex-wrap: wrap;
    }

    .homePart3 .inner .rightSide {
        margin-top: 60px;
    }

    /* .homePart4 */
    .homePart4 .inner .myTittle {
        justify-content: space-around;
    }

    .homePart4 .inner .step1 {
        flex-wrap: wrap;
        padding: 0 50px; 
    }

    .homePart4 .inner .step1 .item1 {
        width: 100%;
    }

    .homePart4 .inner .step1 .item1:not(:first-child) {
        margin-top: 50px;
    }

    /* .homePart5 */
    .homePart5 .inner .step1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .homePart5 .inner .step1 .item1 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .homePart5 .inner .step1 .item1 .img img {
        width: 100%;
    }

    .homePart5 .inner .step1 .item1 .news .description {
        width: 100%;
    }

    /* .homePart6 */
    .homePart6 .inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .homePart6 .inner .link .tittle {
        margin-top: 15px;
    }

    /* footer */
    .footer .step1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .footerPart1  {
        margin:0 15px ;
    }

    .footer .footerPart1 .step1 .item1 {
        padding: 10px 55px;
    }

    .footer .footerPart1 .step1 .item1:not(:last-child) {
        border-right:none;
    }

    /* footer part2  */
    .footer .footerPart2 .step1 {
        
    }

    .footer .footerPart2 .step1 .item1 {
        width: 50%;
        padding: 0 15px;
        margin-top: 50px;
    }

}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
    .hidden {
        display: none;
    }

    .header .contactBar .inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header .contactBar .inner .socialMedia {
        margin-top: 10px;
    }

    .socialMedia .item .link i {
        font-size: 15px;
    }

    .header .CertifiedBar .inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header .CertifiedBar .certified {
        margin-top: 15px;
    }

    /* navbar */
    .header .navbar .links .rightSide {
        display: none;
    }

    .header .navbar .links .step1 .link1 .tittle1 {
        font-size: 15px;
    }

    /* slider */
    .slideshow .inner .slide1 {
        padding-left: 40px;
    }

    .slideshow .inner .slide3 {
        padding-right: 40px;
    }

    /* homePart1 */
    .homePart1 .inner .welcome_msg {
        padding: 40px 20px;
        justify-content: center;
    }

    .homePart1 .inner .welcome_msg .leftSide{
        width:1500px;
    }

    /* homePart1  bigcards*/
    .homePart1 .inner .article .bigCards .step1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .homePart1 .inner .article .bigCards .step1  .item1 .card img {
        width: 100%;
    }

    /* homePart1 Smallcard*/

    .homePart1 .inner .article .smallCards .cards {
        padding: 0 50px;
    }

    .homePart1 .inner .article .smallCards .cards .step1 {
        flex-wrap: wrap;
    }

    .homePart1 .inner .article .smallCards .cards .step1 .item1 {
        width: 100%;
        margin-top: 50px;
    }

    /* homePart2 */
    .homePart2 .inner .projects,
    .homePart2 .inner .lastProjectPictures {
        flex-wrap: wrap;
    }

    .homePart2 .inner .projects .rightSide {
        margin-top: 40px;
    }

    .homePart2 .inner .projects {
        justify-content: center;
    }

    .homePart2 .inner .lastProjectPictures {
        justify-content: center;
    }

    .homePart2 .inner .lastProjectPictures img {
        margin: 30px;
    }
    
    /* .homePart3 */
    .homePart3 .inner {
        flex-wrap: wrap;
    }

    .homePart3 .inner .rightSide {
        margin-top: 60px;
    }

    /* .homePart4 */
    .homePart4 .inner .myTittle {
        justify-content: space-around;
    }

    .homePart4 .inner .step1 {
        flex-wrap: wrap;
        padding: 0 50px; 
    }

    .homePart4 .inner .step1 .item1 {
        width: 100%;
    }

    .homePart4 .inner .step1 .item1:not(:first-child) {
        margin-top: 50px;
    }

    /* .homePart5 */
    .homePart5 .inner .step1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .homePart5 .inner .step1 .item1 {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .homePart5 .inner .step1 .item1 .img img {
        width: 100%;
    }

    .homePart5 .inner .step1 .item1 .news .description {
        width: 100%;
    }

    /* .homePart6 */
    .homePart6 .inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .homePart6 .inner .tittle {
        font-size: 1px;
    }

    /* footer */
    .footer .step1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .footerPart1  {
        margin:0 15px ;
    }

    .footer .footerPart1 .step1 .item1 {
        padding: 10px 55px;
    }

    .footer .footerPart1 .step1 .item1:not(:last-child) {
        border-right:none;
    }

    /* footer part2  */
    .footer .footerPart2 .step1 {
        
    }

    .footer .footerPart2 .step1 .item1 {
        width: 50%;
        padding: 0 15px;
        margin-top: 50px;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    /* contant bar */
    .header .contactBar .inner {
        padding: 0 10px;
    }

    /* CertifiedBar */
    .header .CertifiedBar {
        padding: 29px 10px;
    }

    /* navbar */
    .header .navbar .links .step1 .link1 .tittle1 {
        font-size: 14px ;
    }

    .header .navbar .links .rightSide .requestBox {
        padding: 12px 13px;
    }

    .header .navbar .links .rightSide .requestBox .tittle {
        font-size: 14px;
    }

    /* slider */
    .header .slideshow .inner .slide1 {
        margin-left: 50px;
    }

    .header .slideshow .inner .slide3 {
        margin-right: 50px;
    }

    /* homePart1 */
    .homePart1 .inner .welcome_msg {
        margin: 0 10px;
    }

    .homePart1 .inner .welcome_msg .leftSide .tittle {
        font-size: 30px;
    }

    /* article big cards*/
    .homePart1 .inner .article .smallCards .cards .item1 {
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
    .homePart1 .inner .article .bigCards .cards .card img {
        width: 100%;
        height: 100%;
    }
    /* small card */
    .homePart1 .inner .article .smallCards .cards .item1 img {
        width: 120px;
        height: 120px;
    }

    .homePart1 .inner .article .smallCards .cards .cardTittle {
        padding: 10px;
    }

    .homePart1 .inner .article .smallCards .cards .cardTittle .tittle {
        font-size: 16px;
    }

    .homePart1 .inner .article .smallCards .cards .cardTittle .subTittle {
        font-size: 14px;
    }

    /* home part 3 */
    .homePart2 .inner .projects {
        padding: 0 30px;
    }

    .homePart2 .inner .lastProjectPictures {
        justify-content: space-around;
    }

    .homePart2 .inner .lastProjectPictures img{
        width: 200px;
        height: 180px;
    }

    /* home part 4  */
    .homePart4 .inner .myTittle{
        margin: 0 20px;
    }

    /* home part5 */
    .homePart5 .inner .step1 {
        justify-content: space-around;
    }

    /* home part 6 */
    .homePart6 .inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .homePart6 .inner .link {
        margin-top:20px ;
    }

    /* home part 7 */
    .homePart7 .inner .myTittle .tittle {
        font-size: 22px;
        text-align: center;
    }

    .homePart7 .slideShow2 .item {
        display: flex;
        justify-content: center;
    }

    /* footer */


}

/*// Extra large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) {


} */
