
:root {
    --dividerColor:#f7f0f0;
    --lightTextColorMain: #848484;
    --textColor: #a3adb2;
    --iconColor: #fdc900;
    --light_bgColor: #292d2f;
    --dark_bgColor: #222628;
}

@font-face {
    font-family: Rubic;
    src: url("../font/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: Rubic;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
}

.block {
    display: block;
}


/* header style section */
.header .contactBar {
    background-color: var(--light_bgColor);
    padding: 15px 0;
    border-bottom: 1px solid #2e3335;
}

.header .contactBar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.header .contactBar .inner .leftSide .companyAddress {
    display: flex;
    align-items: center;
}

.header .contactBar .inner .leftSide .companyAddress .item {
    display: flex;
    align-items: center;
    color: var(--textColor);
    font-size: 11px;
    padding-right: 20px;
}

.header .contactBar .inner .leftSide .companyAddress .item i {
    color: var(--iconColor);
    margin-right: 10px;
    font-size: 13px;
}

/* socialMedia style section */
 .socialMedia {
    display: flex;
}

.header .contactBar .inner .rightSide .socialMedia .item {
    margin-left: 27px;
}

 .socialMedia .item .link i {
    color: var(--textColor);
    font-size: 13px;
    transition: all 500ms ease;
}

.header .contactBar .inner .rightSide .socialMedia .item .link i:hover {
    color: var(--iconColor);
}

/* certified bar style section */
.header .CertifiedBar {
    background-color: var(--dark_bgColor);
    padding: 29px 0;
}

.header .CertifiedBar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .CertifiedBar .inner .logo .link {
    display: inline-block;
}

.header .certified .rightSide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header .certified .rightSide .item {
    position: relative;
    margin-right: 35px;
    padding: 0 35px;
}

.header .certified .rightSide .item:first-child {
    border-right: 1px solid #2e3234;
}

.header .certified .rightSide .item:last-child {
    margin-right: 0;
    padding: 0;
}

.header .certified .rightSide .item .icon {
    position: absolute;
    right: 190px;
    top: 8px;
    font-size: 20px;
    color: #fdc900
}

.header .certified .rightSide .item span {
    color: var(--textColor);
}

.header .certified .rightSide .item .tittle {
    color: #fff;
    font-size: 17px;
    margin-bottom: 3px;
}

.header .certified .rightSide .item .btnDownload {
    background-color: var(--iconColor);
    color: var(--dark_bgColor);
    border-radius: 3px;
    padding: 15px 13px;
}

.header .certified .rightSide .item .btnDownload span {
    color: var(--dark_bgColor);
    padding-left:50px ;
}

/* navbar style */
.header .navbar {
    background-color: #f4f4f4;
    transition: all 500ms ease;
}

.header .navbar .link1,.link2 {
    display: inline-block;
}

.header .navbar2 {
    background-color: #000;
}
.header .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 500ms ease;
}

.header .navbar .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .links .step1 {
    display: flex;
}

.header .navbar .links .step1 .item1 {
    padding: 28px 21px;
    position: relative;
}

.header .navbar .links .step1 .item1::before {
    content: "";
    position: absolute;
    background-color: var(--iconColor);
    height: 5px;
    width: 0;
    bottom: 0;
    visibility: hidden;
    transition: all 1000ms ease;
}

.header .navbar .links .step1 .item1:hover .tittle1 {
    color: var(--iconColor) !important;
}
.header .navbar .links .step1 .item1:hover::before{
    visibility: visible; 
    width: 100%;
}

.header .navbar .links .step1 .item1:hover .submenu {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.header .navbar .links .step1 .link1 .tittle1 {
    color: var(--dark_bgColor);
    font-weight: bold;
    font-size: 16px;
    transition: all 500ms ease;
}

.header .navbar .links .rightSide {
    display: flex;
    align-items: center;
}

.header .navbar .links .rightSide .requestBox {
    display: flex;
    align-items: center;
    background-color: #fff;
    outline: 1px dashed #dbd5d5;
    padding: 14px 15px;
    transition: all 500ms ease;
}

.header .navbar .links .rightSide .requestBox i {
    color: var(--iconColor);
    font-size: 13px;
}

.header .navbar .links .rightSide .requestBox .tittle {
    color: var(--dark_bgColor);
    margin-left: 10px;
    font-size: 16px;
}

.header .navbar .links .rightSide .requestBox:hover {
    background-color: var(--dark_bgColor);
    cursor: pointer;
}

.header .navbar .links .rightSide .requestBox:hover .tittle{
    color: #fff;
}

.header .navbar .links .rightSide .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    background-color: var(--iconColor);
    width: 75px;
    height: 75px;
    transition: all 500ms ease;
}

.header .navbar .links .rightSide .searchBox:hover {
    background-color: var(--dark_bgColor);
    border: 1px solid var(--iconColor);
    color: #fff;
    cursor: pointer;
}

/* submenu style section */
.header .navbar .links .step1 .submenu {
    background-color: var(--iconColor);
    min-width: 240px;
    width: 240px;
    position: absolute;
    top:100%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms ease;
}

.header .navbar .links .step1 .submenu .step2{
    padding: 20px 10px;
}

.header .navbar .links .step1 .submenu .step2 .item2:not(:last-child) {
margin-bottom: 30px;
}

.header .navbar .links .step1 .submenu .step2 .item2 .link2 .tittle2 {
    color: var(--dark_bgColor);
    font-size: 16px;
    font-weight: lighter;
    transition: all 300ms ease;
}

.header .navbar .links .step1 .submenu .step2 .item2 .link2 .tittle2:before{
    content: "\f30b";
    visibility: hidden;
    transition: all 300ms ease;
}

.header .navbar .links .step1 .submenu .step2 .item2:hover .tittle2::before{
    visibility: visible;
    margin-right: 10px;
}

/* slider style */
 .slideshow {
    overflow: hidden;
  }

  .slideshow .wrapper {
    height: 600px;
    background: transparent no-repeat center / cover;
  }

   .slideshow .container {
    height: 100%;
  }

.header .slideshow .inner {
    height: 100%;
}

.header .slideshow .inner .slide1,.slide2,.slide3 {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
   
}

.header .slideshow .inner .slide2 {
    justify-content: center;
}

.header .slideshow .inner .slide2 .content {
    text-align: center;
}

.header .slideshow .inner .slide3 {
    justify-content: flex-end;
}

.header .slideshow .inner .slide3 .content {
    text-align: right;
}

.header .slideshow .inner .themeTarget .tittle{
    font-size: 60px; 
    font-weight: bold;
}

.header .slideshow .inner .themeTarget .tittle span {
    font-weight: bold;
}

.header .slideshow .inner .themeTargett {
    margin-top: 30px;
}

.header .slideshow .inner .themeTargett .tittle {
    font-size: 18px;
}

.header .slideshow .inner .buttons {
    margin-top: 30px;
}

.header .slideshow .inner .buttons .btnLeft,.btnRight {
    background-color: var(--iconColor);
    border: 1px solid var(--iconColor);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 10px;
    padding: 16px 32px;  
}

.header .slideshow .inner .buttons .btnRight{
    background-color: transparent;
    margin-left: 25px;
}
.header .slideshow .inner .buttons .btnLeft:hover{
    background-color: transparent;
}

.header .slideshow .inner .buttons .btnRight:hover{
    background-color:rgb(253, 236, 0); ;
    border-color: #fff;
} 
/* end masoud slider style */

/* welcome messege style section */
/* home part 1 */
.homePart1 .inner .welcome_msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom:  1px solid var(--dividerColor);
}

.homePart1 .inner .welcome_msg .leftSide{
    border-right: 2px solid var(--iconColor);
    padding: 12px 30px 12px 0;  
    width:650px;
}

.homePart1 .inner .welcome_msg .leftSide .tittle {
    text-align: right;
    font-size: 36px;
}

.homePart1 .inner .welcome_msg .leftSide .tittle .highlight {
    color: var(--iconColor);
}

.homePart1 .inner .welcome_msg .rightSide {
padding: 0 0 0 30px;
}

.homePart1 .inner .welcome_msg .rightSide .tittle {
    color: var(--lightTextColorMain);
    font-size: 16px;
    line-height: 25px;
} 

/* article style section */
.homePart1 .inner .article .bigCards {
    border-bottom: 1px solid var(--dividerColor);
}

.homePart1 .inner .article .bigCards .cards {
    padding: 80px 0;    
}

.homePart1 .inner .article .bigCards .step1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homePart1 .inner .article .bigCards .cards .item1 {
    padding: 15px;
}

.homePart1 .inner .article .bigCards .cards .cardTittle {
    margin-bottom: 30px;
}

.homePart1 .inner .article .bigCards .cards .cardTittle .tittle {
    margin-bottom: 5px;
    font-size: 24px;
}

.homePart1 .inner .article .bigCards .cards .cardTittle .subTittle {
    color: var(--lightTextColorMain);
    font-size: 16px;
    position: relative;
    padding: 0 0 25px 0;
}

.homePart1 .inner .article .bigCards .cards .cardTittle .subTittle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--iconColor);
    width: 80px;
    height: 5px;
}

.homePart1 .inner .article .bigCards .cards .card {
    border: 1px solid var(--dividerColor);
}

.homePart1 .inner .article .bigCards .cards .card .subTittle {
    color: var(--lightTextColorMain);
    padding: 18px;
    line-height: 25px;
    font-size: 16px;
}

/* small cards style */
.homePart1 .inner .article .smallCards .cards {
    margin: 45px 0 70px 0;
}

.homePart1 .inner .article .smallCards .cards .step1 {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
}

.homePart1 .inner .article .smallCards .cards .item1 {
    border: 1px solid var(--dividerColor);
    display: flex;
    transition: all 500ms ease;
    position: relative;
}

.homePart1 .inner .article .smallCards .cards .item1:last-child {
    padding: 0 ;
}

.homePart1 .inner .article .smallCards .cards .item1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    box-shadow: 0px 20px 9px 3px rgba(220, 213, 213, 0);
    transition: all 500ms ease;
}

.homePart1 .inner .article .smallCards .cards .item1:hover{
    transform: translateY(-8px);
}

.homePart1 .inner .article .smallCards .cards .item1:hover::after {
    box-shadow: 0px 20px 9px 3px rgba(220, 213, 213, 0.9);
}

.homePart1 .inner .article .smallCards .cards .cardTittle{
    padding: 20px;
}

.homePart1 .inner .article .smallCards .cards .cardTittle .tittle {
    margin: 0 0 8px 0;
}

.homePart1 .inner .article .smallCards .cards .cardTittle .subTittle {
    font-size: 14px;
    color: var(--lightTextColorMain);
}

.homePart1 .inner .article .smallCards .cards .readMore {
    color: var(--iconColor);
    margin-top: 10px;
}

.homePart1 .inner .article .smallCards .cards .readMore .btn {
    color: var(--iconColor);
}

.homePart1 .inner .article .smallCards .cards .readMore i {
    padding-right: 3px;
}
/* End welcome messege style section */

/* star last project styles */
/* home part 2 */
.homePart2 {
    background-color: var(--dark_bgColor);
    padding: 80px 0;
}

.homePart2 .link {
    display: block;
}

.homePart2 .inner .projects {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.homePart2 .inner .projects .leftSide {
    position: relative;
}

.homePart2 .inner .projects .leftSide .tittle {
    color: #fff;
    font-size: 28px;
    margin: 0 0 20px 0;
}

.homePart2 .inner .projects .leftSide::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--lightTextColorMain);
    height: 2px;
    width: 100%;  
}

.homePart2 .inner .projects .leftSide::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--iconColor);
    width: 80px;
    height: 2px;
}

.homePart2 .inner .projects .rightSide .step1 {
    display: flex;
}

.homePart2 .inner .projects .rightSide .step1 .item1 {
    margin: 0 15px 0 0;
}

.homePart2 .inner .projects .rightSide .step1 .item1 .tittle {
    color:  var(--textColor);
    font-size: 16px;
    transition: all 300ms ease;
}

.homePart2 .inner .projects .rightSide .step1 .item1 span {
    color: var(--textColor);
}

.homePart2 .inner .projects .rightSide .step1 .item1:hover .tittle {
    color: var(--iconColor) !important;
}

.homePart2 .inner .lastProjectPictures {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    
}
/* End last project styles */

/* start about industry style section */
/* home part 3 */
.homePart3 .inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.homePart3 .inner .link {
    background-color: var(--iconColor);
    padding: 15px 30px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 3px;
    color: var(--dark_bgColor);
    font-size: 16px;
}

.homePart3 .inner .history {
    padding: 0 15px;
}

.homePart3 .inner .myTittle{
    padding:0 0 50px 0;
}

.homePart3 .inner .myTittle .tittle {
    font-size: 30px;
    padding: 0 0 15px 0;
    position: relative;
}

.homePart3 .inner .myTittle .tittle::before {
    content: "";
    position: absolute; 
    bottom: 0;  
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--dividerColor);
    width: 100%;
    height: 1px;
}

.homePart3 .inner .myTittle .tittle::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--iconColor);
    width: 100px;
    height: 1px;
}

.homePart3 .inner .leftSide {
    display: flex;
  
}

.homePart3 .inner .history .content {
    font-size: 15px;
    margin-left: 20px;
}

.homePart3 .inner .history .content .description {
    margin: 0 0 15px 0;
    line-height: 26px;
    color: var(--lightTextColorMain);
}

.homePart3 .inner .history .content .tittle {
    margin: 0 0 15px 0;
}

.homePart3 .inner .history .content .tittle span {
    font-size: 24px;
    color: var(--iconColor);
}

/* form style */
.homePart3 .inner .rightSide {
    position: relative;
    padding: 0 15px;
}

.homePart3 .inner .rightSide .signUp {
    border: 2px solid var(--dividerColor);
    text-align: center;
    padding: 20px
}

.homePart3 .inner .rightSide .signUp .myTittle .tittle {
    padding: 0 0 15px 0;
}

.homePart3 .inner .rightSide .signUp .myTittle .tittle::after{
    left: 0;
    right: 0;
    margin: 0 auto;
}

.homePart3 .inner .rightSide .signUp .inputs .item {
    width: 100%;
    height: 50px;
    margin: 0 0 30px 0;
    border: 1px solid var(--dividerColor);
    color: var(--lightTextColorMain);
    padding: 0 0 0 10px;
    border-radius: 3px;
}

.homePart3 .inner .rightSide .signUp .inputs .item:focus:not(:last-child) {
    outline:2px solid var(--iconColor);
}

.homePart3 .inner .rightSide .signUp .inputs .item1 {
    color: #000;
    font-size: 16px;
}

.homePart3 .inner .rightSide .signUp .button {
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 30px 0;   
}
/* End about industry style section */

/* start Customers comment style section */
/* home part 4 */
.homePart4 {
    background-color: #f7f7f7;
    padding: 80px  0;
}

 .homePart4 .inner .step1 {
    display: flex;
} 

.homePart4 .inner .myTittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 70px 0;
}

.homePart4 .inner .myTittle .tittle {
    font-size: 30px;
    margin: 0 0 8px 0;
    line-height: 70px;
    border-bottom: 1px solid var(--dividerColor);
    position: relative;
}

.homePart4 .inner .myTittle .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 1px;
    background-color: var(--iconColor);
}

.homePart4 .inner .myTittle .link {
    border: 1px solid var(--dividerColor);
    color: #000;
    font-size: 16px;
    padding: 12px 20px;
    transition: all 500ms ease;
}

.homePart4 .inner .myTittle .link:hover {
    background-color: var(--iconColor);
}

.homePart4 .inner .step1 .item1 {
    background-color: #fff;
    width: 50%;
    padding: 50px 20px 30px 30px;
    margin: 0 10px;
    position: relative;
}

.homePart4 .inner .step1 .item1::before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    background-color: #f7f7f7 ;
    color: var(--iconColor);
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    top: -35px;
}

.homePart4 .inner .step1 .item1 .description {
    color: #444;
    line-height: 26px;
}

.homePart4 .inner .step1 .item1 .border {
    width: 100%;
    height: 1px;
    margin: 15px 0 20px 0;
    background-color: var(--dividerColor);
    position: relative;
}

.homePart4 .inner .step1 .item1 .border::before {
    content: "";
    position: absolute;
    background-color: var(--iconColor);
    width: 0;
    height: 1px;
    transition: all 500ms ease;
}

.homePart4 .inner .step1 .item1:hover .border::before {
    width: 100%;
}

.homePart4 .inner .step1 .item1 .customersProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homePart4 .inner .step1 .item1 .customersProfile .profile {
    display: flex;
    align-items: center;
}

.homePart4 .inner .step1 .item1 .customersProfile .profile .name {
    margin-left: 10px;
    line-height: 26px;
}
.homePart4 .inner .step1 .item1 .customersProfile .profile .name .tittle {
    font-size: 20px;
}

.homePart4 .inner .step1 .item1 .customersProfile .profile .name .subTittle {
    font-size: 16px;
    color: var(--iconColor);
}

.homePart4 .inner .step1 .item1 .customersProfile .rating {
    border: 1px solid var(--dividerColor);
    color:var(--iconColor);
    font-size: 12px;
    padding: 8px 12px;
}
/* End Customers comment style section */

/* latest news style section */
/* home part 5 */
.homePart5 .inner {
    padding: 80px 0;
}

.homePart5 .inner .myTittle {
    padding:  0 0 50px 0;
}

.homePart5 .inner .myTittle .tittle {
    font-size: 32px;
    text-align: center;
    padding: 0 0 28px 0;
    border-bottom: 1px solid var(--dividerColor);
    position: relative;
}

.homePart5 .inner .myTittle .tittle::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: var(--iconColor);
}

.homePart5 .inner .step1 {
    display: flex;
    justify-content: space-between;
   
}

.homePart5 .inner .step1 .item1 {
    padding: 0 15px;
}

.homePart5 .inner .step1 .item1 .news .btn .link {
    border:  1px solid var(--iconColor);
    color: #000;
    display:inline-block;
    padding: 0 14px;
    margin: 15px 0;
    transition: all 500ms ease;
}

.homePart5 .inner .step1 .item1 .btn .link:hover {
    background-color: var(--iconColor);
}

.homePart5 .inner .step1 .item1 .news {
    line-height: 35px;
}

.homePart5 .inner .step1 .item1 .news .tittle {
    font-size: 18px;
}

.homePart5 .inner .step1 .item1 .news .date {
    font-size:14px ;
    color: #999;
}

.homePart5 .inner .step1 .item1 .news .date span {
    padding: 0 10px;
}

.homePart5 .inner .step1 .item1 .news .date .link {
    color: #999;
    transition: all 500ms ease;
}

.homePart5 .inner .step1 .item1 .news .date .link:hover {
    color: var(--iconColor);
}

.homePart5 .inner .step1 .item1 .news .description {
    font-size: 16px;
    color: #999;
    width: 370px;
    line-height: 20px;
}

.homePart5 .inner .border {
    background-color: var(--dividerColor);
    width: 100% ;
    height: 1px;
    margin: 40px  0;
}

.homePart5 .inner .step1 .item1 .news .btn_aside .link {
    margin-top: 0;
}
/* End latest news style section */

/* start Banner section style  */
/* home part 6 */
.homePart6 {
    background-color: var(--iconColor);
    padding: 40px 0; 
}
.homePart6 .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homePart6 .inner .tittle {
    font-size: 26px;
}

.homePart6 .inner .link .tittle{
    background-color: #fff;
    color: #000;
    padding: 16px 30px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 500ms ease;
}

.homePart6 .inner .link:hover .tittle {
    background-color: var(--iconColor);
}
/* End Banner section style  */

/* start partnerShipe style section*/
/* home part 7 */
.homePart7 .inner{
    padding: 70px;
}

.homePart7 .inner .myTittle {
    padding: 0 0 50px 0;
}

.homePart7 .inner .myTittle .tittle {
    font-size: 26px;
    text-align: center;
}

.homePart7 .inner .myTittle .tittle span {
    color: var(--iconColor);
}

.homePart7 .slideShow2 .item {
    border: 1px solid var(--dividerColor);
    margin: 10px 15px  25px 15px;
  }
/* End partnerShipe style section*/  

/* footer style section */
.footer {
    background-color: var(--dark_bgColor);
}

.footer .footerPart1 {
    background-color: var(--light_bgColor);
}

.footer .step1 {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.footer .footerPart1 .step1 .item1 {
    display: flex;
    align-items: center;
    padding: 30px 35px;
}
.footer .footerPart1 .step1 .item1:not(:last-child) {
    border-right: 1px solid var(--lightTextColorMain);
}

.footer .footerPart1 .step1 .item1 i {
    padding-right: 15px;
    font-size: 17px;
    color: var(--iconColor);
}

.footer .footerPart1 .step1 .item1 .tittle {
    color:#a3adb2
}
.footer .footerPart1 .step1 .item1 .tittle span {
    color: #fff;
}

/* footer part 2 */
.footer .footerPart2 .step1 {
    padding: 30px 0 30px 0;
}

.footer .footerPart2 .step1 .item1 {
    width: 25%;
    padding: 0 15px;
}

.footer .footerPart2 .step1 .item1 .tittle {
    padding: 0 0 30px 0;
    font-size: 18px;
    color: #fff;
}

.footer .footerPart2 .step1 .item1 .subTittle {
    font-size: 16px;
    line-height: 25px;
    color: #a3adb2;
    position: relative;
    padding:  0 0 15px 0;
}

.footer .footerPart2 .step1 .item1 .subTittle::after {
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #303335;
}

.footer .footerPart2 .step1 .item1 .socialMedia {
    display: flex;
    justify-content: space-around;
    padding:  15px 0 0 0;
}

.footer .footerPart2 .step1 .item1 .socialMedia .item {
    border: 2px solid #303335;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}

.footer .footerPart2 .step1 .item1 .socialMedia .item:hover {
    background-color: var(--iconColor);
    border: none;
}

.footer .footerPart2 .step1 .item1 .socialMedia .item:hover i {
    color: var(--dark_bgColor);
}

/* step2  */
.footer .footerPart2 .step2 .item2 {
    margin: 0 0 20px 0 ;
}

.footer .footerPart2 .step2 .item2 i{
    color: #a3adb2;
    padding-right: 5px;
}

.footer .footerPart2  .step2 .item2 .tittle2 {
    font-size: 16px;
    color: #a3adb2;
    transition: all 500ms ease;
}

.footer .footerPart2 .usefulLinks .step2 .item2:hover i{
    color: var(--iconColor);
}

.footer .footerPart2 .usefulLinks .step2 .item2:hover .tittle2 {
    color: #fff;
}

.footer .footerPart2 .recentPost .step2 .item2 {
display: flex;
}

.footer .footerPart2 .recentPost .step2 .item2 i{
    color: var(--iconColor);
    padding-right: 10px;
}

.footer .footerPart2 .recentPost .step2 .item2 .tittle2 {
    color: #fff;
}

.footer .footerPart2 .recentPost .step2 .item2 .tittle2:hover {
    color: var(--iconColor);
}

.footer .footerPart2 .recentPost .step2 .item2 .subTittle {
    padding: 7px 0 15px 0;
}

.footer .footerPart2 .newsLetter {
    background-color: #292d2f;
}
.footer .footerPart2 .newsLetter .step2 {
    padding: 30px 20px;
}

.footer .footerPart2 .newsLetter .description {
    color: #a3adb2;
    margin: -30px 0 0 0;
}

.footer .footerPart2 .newsLetter .subscribe,.email {
    width: 100%;
    padding: 14px;
    border: none;
}

.footer .footerPart2 .newsLetter .email {
    background-color: #2f3434;
}

.footer .footerPart2 .newsLetter .subscribe {
    background-color: var(--iconColor);
    cursor: pointer;
}

