
:root {
    --dividerColor:#f7f0f0;
    --lightTextColorMain: #848484;
    --textColor: #a3adb2;
    --iconColor: #fdc900;
    --light_bgColor: #292d2f;
    --dark_bgColor: #222628;
}

@font-face {
    font-family: Rubic;
    src: url("../font/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: Rubic;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
}

/* header style section */
.header .contactBar {
    background-color: var(--light_bgColor);
    padding: 15px 0;
    border-bottom: 1px solid #2e3335;
}

.header .contactBar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .contactBar .inner .leftSide .companyAddress {
    display: flex;
    align-items: center;
}

.header .contactBar .inner .leftSide .companyAddress .item {
    display: flex;
    align-items: center;
    color: var(--textColor);
    font-size: 11px;
    padding-right: 20px;
}

.header .contactBar .inner .leftSide .companyAddress .item i {
    color: var(--iconColor);
    margin-right: 10px;
    font-size: 13px;
}

.header .contactBar .inner .rightSide .socialMedia {
    display: flex;
}

.header .contactBar .inner .rightSide .socialMedia .item {
    margin-left: 27px;
}

.header .contactBar .inner .rightSide .socialMedia .item .link i {
    color: var(--textColor);
    font-size: 13px;
    transition: all 500ms ease;
}

.header .contactBar .inner .rightSide .socialMedia .item .link i:hover {
    color: var(--iconColor);
}

/* certified bar style section */
.header .CertifiedBar {
    background-color: var(--dark_bgColor);
    padding: 29px 0;
}

.header .CertifiedBar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .CertifiedBar .inner .logo .link {
    display: inline-block;
}

.header .certified .rightSide {
    display: flex;
    align-items: center;
}

.header .certified .rightSide .item {
    position: relative;
    margin-right: 35px;
    padding: 0 35px;
}

.header .certified .rightSide .item:first-child {
    border-right: 1px solid #2e3234;
}

.header .certified .rightSide .item:last-child {
    margin-right: 0;
    padding: 0;
}

.header .certified .rightSide .item .icon {
    position: absolute;
    right: 190px;
    top: 8px;
    font-size: 20px;
    color: #fdc900
}

.header .certified .rightSide .item span {
    color: var(--textColor);
}

.header .certified .rightSide .item .tittle {
    color: #fff;
    font-size: 17px;
    margin-bottom: 3px;
}

.header .certified .rightSide .item .btnDownload {
    background-color: var(--iconColor);
    color: var(--dark_bgColor);
    border-radius: 3px;
    padding: 15px 13px;
}

.header .certified .rightSide .item .btnDownload span {
    color: var(--dark_bgColor);
    padding-left:50px ;
}

/* navbar style */
.header .navbar {
    background-color: #f4f4f4;
    transition: all 500ms ease;
}

.header .navbar2 {
    background-color: #000;
}
.header .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 500ms ease;
}

.header .navbar .step1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .step1 .links {
    display: flex;
    padding: 28px 0;
}

.header .navbar .step1 .links .item {
    padding: 0 20px;
    position: relative;
}

.header .navbar .step1 .links .item::before {
    content: "";
    position: absolute;
    background-color: var(--iconColor);
    height: 5px;
    width: 0;
    top: 220%;
    visibility: hidden;
    transition: all 800ms ease;
}

.header .navbar .step1 .links .item:hover .tittle {
    color: var(--iconColor) !important;
}
.header .navbar .step1 .links .item:hover::before{
    visibility: visible; 
    width: 100%;
}

.header .navbar .step1 .links .item:hover .AboutSubmenu {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.header .navbar .step1 .links .link .tittle {
    color: var(--dark_bgColor);
    font-weight: bold;
    font-size: 16px;
    transition: all 500ms ease;
}

.header .navbar .step1 .rightSide {
    display: flex;
    align-items: center;
}

.header .navbar .step1 .rightSide .requestBox {
    display: flex;
    align-items: center;
    background-color: #fff;
    outline: 1px dashed #dbd5d5;
    padding: 14px 15px;
    transition: all 500ms ease;
}

.header .navbar .step1 .rightSide .requestBox i {
    color: var(--iconColor);
    font-size: 13px;
}

.header .navbar .step1 .rightSide .requestBox .tittle {
    color: var(--dark_bgColor);
    margin-left: 10px;
    font-size: 16px;
}

.header .navbar .step1 .rightSide .requestBox:hover {
    background-color: var(--dark_bgColor);
    cursor: pointer;
}

.header .navbar .step1 .rightSide .requestBox:hover .tittle{
    color: #fff;
}

.header .navbar .step1 .rightSide .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    background-color: var(--iconColor);
    width: 75px;
    height: 75px;
    transition: all 500ms ease;
}

.header .navbar .step1 .rightSide .searchBox:hover {
    background-color: var(--dark_bgColor);
    border: 1px solid var(--iconColor);
    color: #fff;
    cursor: pointer;
}

/* submenu style section */
.header .navbar .step1 .links .AboutSubmenu {
    background-color: var(--iconColor);
    min-width: 240px;
    width: 240px;
    position: absolute;
    top:246%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.header .navbar .step1 .links .AboutSubmenu .step2{
    padding: 20px 10px;
}

.header .navbar .step1 .links .AboutSubmenu .step2 .item1:not(:last-child) {
margin-bottom: 30px;
}

.header .navbar .step1 .links .AboutSubmenu .step2 .item1 .link1 .tittle1 {
    color: var(--dark_bgColor);
    font-size: 16px;
    font-weight: lighter;
    transition: all 300ms ease;
}

.header .navbar .step1 .links .AboutSubmenu .step2 .item1 .link1 .tittle1:before{
    content: "\f30b";
    visibility: hidden;
    transition: all 300ms ease;
}

.header .navbar .step1 .links .AboutSubmenu .step2 .item1:hover .tittle1::before{
    visibility: visible;
    margin-right: 10px;
}

/* End submenu style section */

/* slider style */
.header .slider .slider_img1 {
    position: relative;
}

.header .slider .inner {
    text-align: left;
    position: absolute;
    top: 150px;
    left:460px;
    color: #fff;
}

.header .slider .inner .themeTarget .tittle{
    width: 560px;
    font-size: 60px;
    font-weight: bold;
}

.header .slider .inner .themeTargett .tittle {
    width: 610px;
    font-size: 18px;
    margin-top: 30px;
}

.header .slider .inner .buttons .btnLeft,.btnRight {
    background-color: var(--iconColor);
    border: 1px solid var(--iconColor);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 10px;
    padding: 16px 32px;
    margin-top: 30px;
}

.header .slider .inner .buttons .btnRight{
    background-color: transparent;
    margin-left: 25px;
}
.header .slider .inner .buttons .btnLeft:hover{
    background-color: transparent;
}

.header .slider .inner .buttons .btnRight:hover{
    background-color:rgb(236, 253, 0); ;
    border-color: #fff;
}

/* main style section */
.main .inner .welcome_msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom:  1px solid var(--dividerColor);
}

.main .inner .welcome_msg .leftSide{
    border-right: 1px solid var(--iconColor);
    padding: 12px 30px 12px 0;  
}

.main .inner .welcome_msg .leftSide .tittle {
    text-align: right;
    width: 300px;
    font-size: 36px;

}

.main .inner .welcome_msg .leftSide .tittle span {
    color: var(--iconColor);
}

.main .inner .welcome_msg .rightSide {
padding: 0 0 0 30px;
}

.main .inner .welcome_msg .rightSide .tittle {
    color: var(--lightTextColorMain);
    font-size: 15px;
}

/* main cards style section */
.main .inner .article .bigCards {
    border-bottom: 1px solid var(--dividerColor);
}
.main .inner .article .bigCards .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
}

.main .inner .article .bigCards .cards .agriculture,.Mechanical,.chemical {
    padding: 15px;
}

.main .inner .article .bigCards .cards .cardTittle {
    margin-bottom: 30px;
}

.main .inner .article .bigCards .cards .cardTittle .tittle {
    margin-bottom: 5px;
    font-size: 24px;
}

.main .inner .article .bigCards .cards .cardTittle .subTittle {
    display: block;
    color: var(--lightTextColorMain);
    font-size: 16px;
    margin-bottom: 30px;
}

.main .inner .article .bigCards .cards .cardTittle .border {
    display: block;
    background-color: var(--iconColor);
    width: 70px;
    height: 5px;
}

.main .inner .article .bigCards .cards .card {
    border: 1px solid var(--dividerColor);
}

.main .inner .article .bigCards .cards .card .subTittle {
    color: var(--lightTextColorMain);
    display: block;
    padding: 18px;
    line-height: 25px;
    font-size: 16px;
}

/* small cards style */
.main .inner .article .smallCards .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 70px 0;
}

.main .inner .article .smallCards .cards .petroleum,.material,.power {
    border: 1px solid var(--dividerColor);
}

.main .inner .article .smallCards .cards .cardTittle{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.main .inner .article .smallCards .cards .cardTittle .tittle {
    margin: 0 0 8px 0;
}

.main .inner .article .smallCards .cards .cardTittle .subTittle {
    font-size: 14px;
    color: var(--lightTextColorMain);
}

.main .inner .article .smallCards .cards .readMore {
    color: var(--iconColor);
    margin-top: 10px;
}

.main .inner .article .smallCards .cards .readMore .btn {
    color: var(--iconColor);
}

/* star main last project styles */
.lastProject {
    background-color: var(--dark_bgColor);
    padding: 80px 0;
    margin-bottom: 410px;
}

.lastProject .inner .projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lastProject .inner .projects .leftSide .tittle {
    color: #fff;
    font-size: 28px;
    margin: 0 0 20px 0;
}

.lastProject .inner .projects .leftSide .border {
    background-color: var(--lightTextColorMain);
    height: 2px;
    width: 100%;
}

.lastProject .inner .projects .leftSide .border::before {
    content: "";
    position: absolute;
    background-color: var(--iconColor);
    width: 75px;
    height: 2px;
}

.lastProject .inner .projects .rightSide .step1 {
    display: flex;
}

.lastProject .inner .projects .rightSide .step1 .item{
    margin: 0 15px 0 0;
}

.lastProject .inner .projects .rightSide .step1 .item .tittle {
    color:  var(--textColor);
    font-size: 16px;
    transition: all 300ms ease;
}

.lastProject .inner .projects .rightSide .step1 .item span {
    color: var(--textColor);
}

.lastProject .inner .projects .rightSide .step1 .item:hover .tittle {
    color: var(--iconColor);
}

.lastProject .inner .lastProjectPictures {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}

